:root {
	color-scheme: light;
}

.dark {
	color-scheme: dark;
}

@supports (color: color(display-p3 1 1 1)) {
	@media (color-gamut: p3) {
		.dark,
		.dark-theme {
			--custom-1: oklch(12.9% 0.0042 277.7);
			--custom-2: oklch(20.7% 0.004 277.7);
			--custom-3: oklch(25.1% 0.0055 277.7);
			--custom-4: oklch(28.2% 0.0075 277.7);
			--custom-5: oklch(31.3% 0.0089 277.7);
			--custom-6: oklch(34.9% 0.01 277.7);
			--custom-7: oklch(40.1% 0.0121 277.7);
			--custom-8: oklch(49.2% 0.0157 277.7);
			--custom-9: oklch(54% 0.0167 277.7);
			--custom-10: oklch(49.4% 0.0157 277.7);
			--custom-11: oklch(77% 0.0138 277.7);
			--custom-12: oklch(94.9% 0.0026 277.7);

			--custom-a1: color(display-p3 0.0314 0.0314 0.8157 / 0.005);
			--custom-a2: color(display-p3 0.9373 0.9373 1 / 0.069);
			--custom-a3: color(display-p3 0.9255 0.9569 0.9961 / 0.114);
			--custom-a4: color(display-p3 0.8902 0.9176 1 / 0.15);
			--custom-a5: color(display-p3 0.8902 0.9098 0.9961 / 0.187);
			--custom-a6: color(display-p3 0.9098 0.9255 1 / 0.223);
			--custom-a7: color(display-p3 0.898 0.9255 1 / 0.284);
			--custom-a8: color(display-p3 0.898 0.9176 1 / 0.393);
			--custom-a9: color(display-p3 0.902 0.9176 1 / 0.454);
			--custom-a10: color(display-p3 0.898 0.9176 1 / 0.397);
			--custom-a11: color(display-p3 0.949 0.9529 1 / 0.729);
			--custom-a12: color(display-p3 0.9922 0.9922 1 / 0.94);

			--custom-contrast: #fff;
			--custom-surface: color(display-p3 0.149 0.149 0.1647 / 0.5);
			--custom-indicator: oklch(54% 0.0167 277.7);
			--custom-track: oklch(54% 0.0167 277.7);
		}
	}
}

:root {
	/* default light theme: zinc */
	--background: 0 0% 100%;
	--foreground: 240 10% 3.9%;
	--card: 0 0% 100%;
	--card-foreground: 240 10% 3.9%;
	--popover: 0 0% 100%;
	--popover-foreground: 240 10% 3.9%;
	--primary: 240 5.9% 10%;
	--primary-foreground: 0 0% 98%;
	--secondary: 240 4.8% 95.9%;
	--secondary-foreground: 240 5.9% 10%;
	--muted: 240 4.8% 95.9%;
	--muted-foreground: 240 3.8% 46.1%;
	--accent: 240 4.8% 95.9%;
	--accent-foreground: 240 5.9% 10%;
	--destructive: 0 84.2% 60.2%;
	--destructive-foreground: 0 0% 98%;
	--border: 240 5.9% 90%;
	--input: 240 5.9% 90%;
	--ring: 240 5% 64.9%;
}

.dark {
	/* default dark theme: zinc */
	--background: 240 10% 3.9%;
	--foreground: 0 0% 98%;
	--card: 240 10% 3.9%;
	--card-foreground: 0 0% 98%;
	--popover: 240 10% 3.9%;
	--popover-foreground: 0 0% 98%;
	--primary: 0 0% 98%;
	--primary-foreground: 240 5.9% 10%;
	--secondary: 240 3.7% 15.9%;
	--secondary-foreground: 0 0% 98%;
	--muted: 240 3.7% 15.9%;
	--muted-foreground: 240 5% 64.9%;
	--accent: 240 3.7% 15.9%;
	--accent-foreground: 0 0% 98%;
	--destructive: 0 62.8% 30.6%;
	--destructive-foreground: 0 85.7% 97.3%;
	--border: 240 3.7% 15.9%;
	--input: 240 3.7% 15.9%;
	--ring: 240 4.9% 83.9%;
}

.zinc {
	--background: 0 0% 100%;
	--foreground: 240 10% 3.9%;
	--card: 0 0% 96%;
	--card-foreground: 240 10% 3.9%;
	--popover: 0 0% 100%;
	--popover-foreground: 240 10% 3.9%;
	--primary: 240 5.9% 10%;
	--primary-foreground: 0 0% 98%;
	--secondary: 240 4.8% 95.9%;
	--secondary-foreground: 240 5.9% 10%;
	--muted: 240 4.8% 95.9%;
	--muted-foreground: 240 3.8% 46.1%;
	--accent: 240 4.8% 95.9%;
	--accent-foreground: 240 5.9% 10%;
	--destructive: 0 84.2% 60.2%;
	--destructive-foreground: 0 0% 98%;
	--border: 240 5.9% 90%;
	--input: 240 5.9% 90%;
	--ring: 240 5.9% 10%;
}

.zinc.dark {
	--background: var(--custom-1);
	--foreground: var(--custom-12);
	--card: var(--custom-surface);
	--card-foreground: var(--custom-12);
	--popover: 240 10% 3.9%;
	--popover-foreground: var(--custom-12);
	--primary: oklch(54% 0.0167 277.7);
	--primary-foreground: var(--custom-12);
	--secondary: 240 3.7% 15.9%;
	--secondary-foreground: var(--custom-12);
	--muted: 240 3.7% 15.9%;
	--muted-foreground: 240 5% 64.9%;
	--accent: 240 3.7% 15.9%;
	--accent-foreground: var(--custom-12);
	--destructive: 0 62.8% 30.6%;
	--destructive-foreground: var(--custom-12);
	--border: 240 3.7% 15.9%;
	--input: 240 3.7% 15.9%;
	--ring: 240 4.9% 83.9%;
}

.dark,
.dark-theme {
	--custom-1: #070709;
	--custom-2: #171719;
	--custom-3: #212224;
	--custom-4: #28292d;
	--custom-5: #303136;
	--custom-6: #393a40;
	--custom-7: #46484f;
	--custom-8: #5e606a;
	--custom-9: #6c6e79;
	--custom-10: #5f616b;
	--custom-11: #b2b3bd;
	--custom-12: #eeeef0;

	--custom-a1: #07078802;
	--custom-a2: #e9e9f912;
	--custom-a3: #ecf5ff1d;
	--custom-a4: #dfe6fa27;
	--custom-a5: #e1e7fd30;
	--custom-a6: #e3e8ff3a;
	--custom-a7: #e1e7fd4a;
	--custom-a8: #e1e6fd66;
	--custom-a9: #e3e8ff75;
	--custom-a10: #e1e6fd67;
	--custom-a11: #f0f2ffbb;
	--custom-a12: #fdfdfff0;

	--custom-contrast: #fff;
	--custom-surface: #27272a80;
	--custom-indicator: #6c6e79;
	--custom-track: #6c6e79;
}

.slate {
	--background: 0 0% 100%;
	--foreground: 222.2 84% 4.9%;
	--card: 0 0% 100%;
	--card-foreground: 222.2 84% 4.9%;
	--popover: 0 0% 100%;
	--popover-foreground: 222.2 84% 4.9%;
	--primary: 222.2 47.4% 11.2%;
	--primary-foreground: 210 40% 98%;
	--secondary: 210 40% 96.1%;
	--secondary-foreground: 222.2 47.4% 11.2%;
	--muted: 210 40% 96.1%;
	--muted-foreground: 215.4 16.3% 46.9%;
	--accent: 210 40% 96.1%;
	--accent-foreground: 222.2 47.4% 11.2%;
	--destructive: 0 84.2% 60.2%;
	--destructive-foreground: 210 40% 98%;
	--border: 214.3 31.8% 91.4%;
	--input: 214.3 31.8% 91.4%;
	--ring: 222.2 84% 4.9%;
}

.slate.dark {
	--background: 222.2 84% 4.9%;
	--foreground: 210 40% 98%;
	--card: 222.2 84% 4.9%;
	--card-foreground: 210 40% 98%;
	--popover: 222.2 84% 4.9%;
	--popover-foreground: 210 40% 98%;
	--primary: 210 40% 98%;
	--primary-foreground: 222.2 47.4% 11.2%;
	--secondary: 217.2 32.6% 17.5%;
	--secondary-foreground: 210 40% 98%;
	--muted: 217.2 32.6% 17.5%;
	--muted-foreground: 215 20.2% 65.1%;
	--accent: 217.2 32.6% 17.5%;
	--accent-foreground: 210 40% 98%;
	--destructive: 0 62.8% 30.6%;
	--destructive-foreground: 210 40% 98%;
	--border: 217.2 32.6% 17.5%;
	--input: 217.2 32.6% 17.5%;
	--ring: 212.7 26.8% 83.9%;
}

.stone {
	--background: 0 0% 100%;
	--foreground: 20 14.3% 4.1%;
	--card: 0 0% 100%;
	--card-foreground: 20 14.3% 4.1%;
	--popover: 0 0% 100%;
	--popover-foreground: 20 14.3% 4.1%;
	--primary: 24 9.8% 10%;
	--primary-foreground: 60 9.1% 97.8%;
	--secondary: 60 4.8% 95.9%;
	--secondary-foreground: 24 9.8% 10%;
	--muted: 60 4.8% 95.9%;
	--muted-foreground: 25 5.3% 44.7%;
	--accent: 60 4.8% 95.9%;
	--accent-foreground: 24 9.8% 10%;
	--destructive: 0 84.2% 60.2%;
	--destructive-foreground: 60 9.1% 97.8%;
	--border: 20 5.9% 90%;
	--input: 20 5.9% 90%;
	--ring: 20 14.3% 4.1%;
}

.stone.dark {
	--background: 20 14.3% 4.1%;
	--foreground: 60 9.1% 97.8%;
	--card: 20 14.3% 4.1%;
	--card-foreground: 60 9.1% 97.8%;
	--popover: 20 14.3% 4.1%;
	--popover-foreground: 60 9.1% 97.8%;
	--primary: 60 9.1% 97.8%;
	--primary-foreground: 24 9.8% 10%;
	--secondary: 12 6.5% 15.1%;
	--secondary-foreground: 60 9.1% 97.8%;
	--muted: 12 6.5% 15.1%;
	--muted-foreground: 24 5.4% 63.9%;
	--accent: 12 6.5% 15.1%;
	--accent-foreground: 60 9.1% 97.8%;
	--destructive: 0 62.8% 30.6%;
	--destructive-foreground: 60 9.1% 97.8%;
	--border: 12 6.5% 15.1%;
	--input: 12 6.5% 15.1%;
	--ring: 24 5.7% 82.9%;
}

.gray {
	--background: 0 0% 100%;
	--foreground: 224 71.4% 4.1%;
	--card: 0 0% 100%;
	--card-foreground: 224 71.4% 4.1%;
	--popover: 0 0% 100%;
	--popover-foreground: 224 71.4% 4.1%;
	--primary: 220.9 39.3% 11%;
	--primary-foreground: 210 20% 98%;
	--secondary: 220 14.3% 95.9%;
	--secondary-foreground: 220.9 39.3% 11%;
	--muted: 220 14.3% 95.9%;
	--muted-foreground: 220 8.9% 46.1%;
	--accent: 220 14.3% 95.9%;
	--accent-foreground: 220.9 39.3% 11%;
	--destructive: 0 84.2% 60.2%;
	--destructive-foreground: 210 20% 98%;
	--border: 220 13% 91%;
	--input: 220 13% 91%;
	--ring: 224 71.4% 4.1%;
}

.gray.dark {
	--background: 224 71.4% 4.1%;
	--foreground: 210 20% 98%;
	--card: 224 71.4% 4.1%;
	--card-foreground: 210 20% 98%;
	--popover: 224 71.4% 4.1%;
	--popover-foreground: 210 20% 98%;
	--primary: 210 20% 98%;
	--primary-foreground: 220.9 39.3% 11%;
	--secondary: 215 27.9% 16.9%;
	--secondary-foreground: 210 20% 98%;
	--muted: 215 27.9% 16.9%;
	--muted-foreground: 217.9 10.6% 64.9%;
	--accent: 215 27.9% 16.9%;
	--accent-foreground: 210 20% 98%;
	--destructive: 0 62.8% 30.6%;
	--destructive-foreground: 210 20% 98%;
	--border: 215 27.9% 16.9%;
	--input: 215 27.9% 16.9%;
	--ring: 216 12.2% 83.9%;
}

.neutral {
	--background: 0 0% 100%;
	--foreground: 0 0% 3.9%;
	--card: 0 0% 100%;
	--card-foreground: 0 0% 3.9%;
	--popover: 0 0% 100%;
	--popover-foreground: 0 0% 3.9%;
	--primary: 0 0% 9%;
	--primary-foreground: 0 0% 98%;
	--secondary: 0 0% 96.1%;
	--secondary-foreground: 0 0% 9%;
	--muted: 0 0% 96.1%;
	--muted-foreground: 0 0% 45.1%;
	--accent: 0 0% 96.1%;
	--accent-foreground: 0 0% 9%;
	--destructive: 0 84.2% 60.2%;
	--destructive-foreground: 0 0% 98%;
	--border: 0 0% 89.8%;
	--input: 0 0% 89.8%;
	--ring: 0 0% 3.9%;
}

.neutral.dark {
	--background: 0 0% 3.9%;
	--foreground: 0 0% 98%;
	--card: 0 0% 3.9%;
	--card-foreground: 0 0% 98%;
	--popover: 0 0% 3.9%;
	--popover-foreground: 0 0% 98%;
	--primary: 0 0% 98%;
	--primary-foreground: 0 0% 9%;
	--secondary: 0 0% 14.9%;
	--secondary-foreground: 0 0% 98%;
	--muted: 0 0% 14.9%;
	--muted-foreground: 0 0% 63.9%;
	--accent: 0 0% 14.9%;
	--accent-foreground: 0 0% 98%;
	--destructive: 0 62.8% 30.6%;
	--destructive-foreground: 0 0% 98%;
	--border: 0 0% 14.9%;
	--input: 0 0% 14.9%;
	--ring: 0 0% 83.1%;
}

.red {
	--background: 0 0% 100%;
	--foreground: 0 0% 3.9%;
	--card: 0 0% 100%;
	--card-foreground: 0 0% 3.9%;
	--popover: 0 0% 100%;
	--popover-foreground: 0 0% 3.9%;
	--primary: 0 72.2% 50.6%;
	--primary-foreground: 0 85.7% 97.3%;
	--secondary: 0 0% 96.1%;
	--secondary-foreground: 0 0% 9%;
	--muted: 0 0% 96.1%;
	--muted-foreground: 0 0% 45.1%;
	--accent: 0 0% 96.1%;
	--accent-foreground: 0 0% 9%;
	--destructive: 0 84.2% 60.2%;
	--destructive-foreground: 0 0% 98%;
	--border: 0 0% 89.8%;
	--input: 0 0% 89.8%;
	--ring: 0 72.2% 50.6%;
}

.red.dark {
	--background: 0 0% 3.9%;
	--foreground: 0 0% 98%;
	--card: 0 0% 3.9%;
	--card-foreground: 0 0% 98%;
	--popover: 0 0% 3.9%;
	--popover-foreground: 0 0% 98%;
	--primary: 0 72.2% 50.6%;
	--primary-foreground: 0 85.7% 97.3%;
	--secondary: 0 0% 14.9%;
	--secondary-foreground: 0 0% 98%;
	--muted: 0 0% 14.9%;
	--muted-foreground: 0 0% 63.9%;
	--accent: 0 0% 14.9%;
	--accent-foreground: 0 0% 98%;
	--destructive: 0 62.8% 30.6%;
	--destructive-foreground: 0 0% 98%;
	--border: 0 0% 14.9%;
	--input: 0 0% 14.9%;
	--ring: 0 72.2% 50.6%;
}

.rose {
	--background: 0 0% 100%;
	--foreground: 240 10% 3.9%;
	--card: 0 0% 100%;
	--card-foreground: 240 10% 3.9%;
	--popover: 0 0% 100%;
	--popover-foreground: 240 10% 3.9%;
	--primary: 346.8 77.2% 49.8%;
	--primary-foreground: 355.7 100% 97.3%;
	--secondary: 240 4.8% 95.9%;
	--secondary-foreground: 240 5.9% 10%;
	--muted: 240 4.8% 95.9%;
	--muted-foreground: 240 3.8% 46.1%;
	--accent: 240 4.8% 95.9%;
	--accent-foreground: 240 5.9% 10%;
	--destructive: 0 84.2% 60.2%;
	--destructive-foreground: 0 0% 98%;
	--border: 240 5.9% 90%;
	--input: 240 5.9% 90%;
	--ring: 346.8 77.2% 49.8%;
}

.rose.dark {
	--background: 20 14.3% 4.1%;
	--foreground: 0 0% 95%;
	--card: 20 14.3% 4.1%;
	--card-foreground: 0 0% 95%;
	--popover: 0 0% 9%;
	--popover-foreground: 0 0% 95%;
	--primary: 346.8 77.2% 49.8%;
	--primary-foreground: 355.7 100% 97.3%;
	--secondary: 240 3.7% 15.9%;
	--secondary-foreground: 0 0% 98%;
	--muted: 0 0% 15%;
	--muted-foreground: 240 5% 64.9%;
	--accent: 12 6.5% 15.1%;
	--accent-foreground: 0 0% 98%;
	--destructive: 0 62.8% 30.6%;
	--destructive-foreground: 0 85.7% 97.3%;
	--border: 240 3.7% 15.9%;
	--input: 240 3.7% 15.9%;
	--ring: 346.8 77.2% 49.8%;
}

.orange {
	--background: 0 0% 100%;
	--foreground: 20 14.3% 4.1%;
	--card: 0 0% 100%;
	--card-foreground: 20 14.3% 4.1%;
	--popover: 0 0% 100%;
	--popover-foreground: 20 14.3% 4.1%;
	--primary: 24.6 95% 53.1%;
	--primary-foreground: 60 9.1% 97.8%;
	--secondary: 60 4.8% 95.9%;
	--secondary-foreground: 24 9.8% 10%;
	--muted: 60 4.8% 95.9%;
	--muted-foreground: 25 5.3% 44.7%;
	--accent: 60 4.8% 95.9%;
	--accent-foreground: 24 9.8% 10%;
	--destructive: 0 84.2% 60.2%;
	--destructive-foreground: 60 9.1% 97.8%;
	--border: 20 5.9% 90%;
	--input: 20 5.9% 90%;
	--ring: 24.6 95% 53.1%;
}

.orange.dark {
	--background: 20 14.3% 4.1%;
	--foreground: 60 9.1% 97.8%;
	--card: 20 14.3% 4.1%;
	--card-foreground: 60 9.1% 97.8%;
	--popover: 20 14.3% 4.1%;
	--popover-foreground: 60 9.1% 97.8%;
	--primary: 20.5 90.2% 48.2%;
	--primary-foreground: 60 9.1% 97.8%;
	--secondary: 12 6.5% 15.1%;
	--secondary-foreground: 60 9.1% 97.8%;
	--muted: 12 6.5% 15.1%;
	--muted-foreground: 24 5.4% 63.9%;
	--accent: 12 6.5% 15.1%;
	--accent-foreground: 60 9.1% 97.8%;
	--destructive: 0 72.2% 50.6%;
	--destructive-foreground: 60 9.1% 97.8%;
	--border: 12 6.5% 15.1%;
	--input: 12 6.5% 15.1%;
	--ring: 20.5 90.2% 48.2%;
}

.green {
	--background: 0 0% 100%;
	--foreground: 240 10% 3.9%;
	--card: 0 0% 100%;
	--card-foreground: 240 10% 3.9%;
	--popover: 0 0% 100%;
	--popover-foreground: 240 10% 3.9%;
	--primary: 142.1 76.2% 36.3%;
	--primary-foreground: 355.7 100% 97.3%;
	--secondary: 240 4.8% 95.9%;
	--secondary-foreground: 240 5.9% 10%;
	--muted: 240 4.8% 95.9%;
	--muted-foreground: 240 3.8% 46.1%;
	--accent: 240 4.8% 95.9%;
	--accent-foreground: 240 5.9% 10%;
	--destructive: 0 84.2% 60.2%;
	--destructive-foreground: 0 0% 98%;
	--border: 240 5.9% 90%;
	--input: 240 5.9% 90%;
	--ring: 142.1 76.2% 36.3%;
}

.green.dark {
	--background: 20 14.3% 4.1%;
	--foreground: 0 0% 95%;
	--card: 20 14.3% 4.1%;
	--card-foreground: 0 0% 95%;
	--popover: 0 0% 9%;
	--popover-foreground: 0 0% 95%;
	--primary: 142.1 70.6% 45.3%;
	--primary-foreground: 144.9 80.4% 10%;
	--secondary: 240 3.7% 15.9%;
	--secondary-foreground: 0 0% 98%;
	--muted: 0 0% 15%;
	--muted-foreground: 240 5% 64.9%;
	--accent: 12 6.5% 15.1%;
	--accent-foreground: 0 0% 98%;
	--destructive: 0 62.8% 30.6%;
	--destructive-foreground: 0 85.7% 97.3%;
	--border: 240 3.7% 15.9%;
	--input: 240 3.7% 15.9%;
	--ring: 142.4 71.8% 29.2%;
}

.blue {
	--background: 0 0% 100%;
	--foreground: 222.2 84% 4.9%;
	--card: 0 0% 100%;
	--card-foreground: 222.2 84% 4.9%;
	--popover: 0 0% 100%;
	--popover-foreground: 222.2 84% 4.9%;
	--primary: 221.2 83.2% 53.3%;
	--primary-foreground: 210 40% 98%;
	--secondary: 210 40% 96.1%;
	--secondary-foreground: 222.2 47.4% 11.2%;
	--muted: 210 40% 96.1%;
	--muted-foreground: 215.4 16.3% 46.9%;
	--accent: 210 40% 96.1%;
	--accent-foreground: 222.2 47.4% 11.2%;
	--destructive: 0 84.2% 60.2%;
	--destructive-foreground: 210 40% 98%;
	--border: 214.3 31.8% 91.4%;
	--input: 214.3 31.8% 91.4%;
	--ring: 221.2 83.2% 53.3%;
}

.blue.dark {
	--background: 222.2 84% 4.9%;
	--foreground: 210 40% 98%;
	--card: 222.2 84% 4.9%;
	--card-foreground: 210 40% 98%;
	--popover: 222.2 84% 4.9%;
	--popover-foreground: 210 40% 98%;
	--primary: 217.2 91.2% 59.8%;
	--primary-foreground: 222.2 47.4% 11.2%;
	--secondary: 217.2 32.6% 17.5%;
	--secondary-foreground: 210 40% 98%;
	--muted: 217.2 32.6% 17.5%;
	--muted-foreground: 215 20.2% 65.1%;
	--accent: 217.2 32.6% 17.5%;
	--accent-foreground: 210 40% 98%;
	--destructive: 0 62.8% 30.6%;
	--destructive-foreground: 210 40% 98%;
	--border: 217.2 32.6% 17.5%;
	--input: 217.2 32.6% 17.5%;
	--ring: 224.3 76.3% 48%;
}

.yellow {
	--background: 0 0% 100%;
	--foreground: 20 14.3% 4.1%;
	--card: 0 0% 100%;
	--card-foreground: 20 14.3% 4.1%;
	--popover: 0 0% 100%;
	--popover-foreground: 20 14.3% 4.1%;
	--primary: 47.9 95.8% 53.1%;
	--primary-foreground: 26 83.3% 14.1%;
	--secondary: 60 4.8% 95.9%;
	--secondary-foreground: 24 9.8% 10%;
	--muted: 60 4.8% 95.9%;
	--muted-foreground: 25 5.3% 44.7%;
	--accent: 60 4.8% 95.9%;
	--accent-foreground: 24 9.8% 10%;
	--destructive: 0 84.2% 60.2%;
	--destructive-foreground: 60 9.1% 97.8%;
	--border: 20 5.9% 90%;
	--input: 20 5.9% 90%;
	--ring: 20 14.3% 4.1%;
}

.yellow.dark {
	--background: 20 14.3% 4.1%;
	--foreground: 60 9.1% 97.8%;
	--card: 20 14.3% 4.1%;
	--card-foreground: 60 9.1% 97.8%;
	--popover: 20 14.3% 4.1%;
	--popover-foreground: 60 9.1% 97.8%;
	--primary: 47.9 95.8% 53.1%;
	--primary-foreground: 26 83.3% 14.1%;
	--secondary: 12 6.5% 15.1%;
	--secondary-foreground: 60 9.1% 97.8%;
	--muted: 12 6.5% 15.1%;
	--muted-foreground: 24 5.4% 63.9%;
	--accent: 12 6.5% 15.1%;
	--accent-foreground: 60 9.1% 97.8%;
	--destructive: 0 62.8% 30.6%;
	--destructive-foreground: 60 9.1% 97.8%;
	--border: 12 6.5% 15.1%;
	--input: 12 6.5% 15.1%;
	--ring: 35.5 91.7% 32.9%;
}

.violet {
	--background: 0 0% 100%;
	--foreground: 224 71.4% 4.1%;
	--card: 0 0% 100%;
	--card-foreground: 224 71.4% 4.1%;
	--popover: 0 0% 100%;
	--popover-foreground: 224 71.4% 4.1%;
	--primary: 262.1 83.3% 57.8%;
	--primary-foreground: 210 20% 98%;
	--secondary: 220 14.3% 95.9%;
	--secondary-foreground: 220.9 39.3% 11%;
	--muted: 220 14.3% 95.9%;
	--muted-foreground: 220 8.9% 46.1%;
	--accent: 220 14.3% 95.9%;
	--accent-foreground: 220.9 39.3% 11%;
	--destructive: 0 84.2% 60.2%;
	--destructive-foreground: 210 20% 98%;
	--border: 220 13% 91%;
	--input: 220 13% 91%;
	--ring: 262.1 83.3% 57.8%;
}

.violet.dark {
	--background: 224 71.4% 4.1%;
	--foreground: 210 20% 98%;
	--card: 224 71.4% 4.1%;
	--card-foreground: 210 20% 98%;
	--popover: 224 71.4% 4.1%;
	--popover-foreground: 210 20% 98%;
	--primary: 263.4 70% 50.4%;
	--primary-foreground: 210 20% 98%;
	--secondary: 215 27.9% 16.9%;
	--secondary-foreground: 210 20% 98%;
	--muted: 215 27.9% 16.9%;
	--muted-foreground: 217.9 10.6% 64.9%;
	--accent: 215 27.9% 16.9%;
	--accent-foreground: 210 20% 98%;
	--destructive: 0 62.8% 30.6%;
	--destructive-foreground: 210 20% 98%;
	--border: 215 27.9% 16.9%;
	--input: 215 27.9% 16.9%;
	--ring: 263.4 70% 50.4%;
}

.switch-control {
	--primary: var(--switch-control-light);
	&:is(.dark &) {
		--primary: var(--switch-control-dark);
	}
}
